<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">
        <button class="return-button">Back to Messageboard</button>
    </a>
    <h1>Send a Message</h1>
    <form action="/new" method="POST">
        <label for="name">Your Name:</label>
        <input type="text" name="name">
        <label for="message">Your Message:</label>
        <input type="text" name="message">
        <button type="submit">Send</button>
    </form>
</body>
</html>