<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Mini Messageboard</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-3 d-flex justify-content-center"><%= title %></h1>
        <a href="/new" class="d-flex justify-content-center">
            <button class="btn btn-primary mt-3 mb-3">Add Message</button>
        </a>
        <ul class="list-group">
            <% for (let message of messages) { %>
                <li class="list-group-item">
                    <div class="message-header">
                        <strong><%= message.user %></strong>
                        <em><%= message.added %></em>
                    </div>
                    <p class="message-text">
                        <%= message.text %>
                    </p>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>